[submodule "workflow-node.js"]
	path = workflow-node.js
	url = https://github.com/Developer-Autodesk/workflow-node.js-view.and.data.api.git
[submodule "library-dotnet"]
	path = library-dotnet
	url = https://github.com/Developer-Autodesk/library-dotnet-view.and.data.api.git
[submodule "library-javascript"]
	path = library-javascript
	url = https://github.com/Developer-Autodesk/library-javascript-view.and.data.api.git
[submodule "integration-sap"]
	path = integration-sap
	url = https://github.com/Developer-Autodesk/integration-sap-view.and.data.api.git
[submodule "workflow-php"]
	path = workflow-php
	url = https://github.com/Developer-Autodesk/workflow-php-view.and.data.api.git
[submodule "workflow-view-save-animate"]
	path = workflow-view-save-animate
	url = https://github.com/Developer-Autodesk/workflow-view-save-animate-view.and.data.api.git
[submodule "client-fullstack"]
	path = client-fullstack
	url = https://github.com/Developer-Autodesk/client-fullstack-view.and.data.api.git
[submodule "integration-sharepoint"]
	path = integration-sharepoint
	url = https://github.com/Developer-Autodesk/integration-sharepoint-view.and.data.api.git
[submodule "client-timeliner"]
	path = client-timeliner
	url = https://github.com/Developer-Autodesk/client-timeliner-view.and.data.api.git
[submodule "workflow-aspnet-mvc"]
	path = workflow-aspnet-mvc
	url = https://github.com/Developer-Autodesk/workflow-aspnet-mvc-view.and.data.api.git
[submodule "workflow-python"]
	path = workflow-python
	url = https://github.com/Developer-Autodesk/workflow-python-view.and.data.api.git
[submodule "workflow-donet-winform"]
	path = workflow-donet-winform
	url = https://github.com/Developer-Autodesk/workflow-donet-winform-view.and.data.api.git
[submodule "workflow-jsp"]
	path = workflow-jsp
	url = https://github.com/Developer-Autodesk/workflow-jsp-view.and.data.api.git
[submodule "client-view-save-animate"]
	path = client-view-save-animate
	url = https://github.com/Developer-Autodesk/client-view-save-animate-view.and.data.api.git
[submodule "workflow-ios"]
	path = workflow-ios
	url = https://github.com/Developer-Autodesk/workflow-ios-view.and.data.api.git
[submodule "client-embeded"]
	path = client-embeded
	url = https://github.com/Developer-Autodesk/client-embedded-view.and.data.api.git
