[submodule "workflow-node.js"]
	path = workflow-node.js
	url = https://github.com/Developer-Autodesk/workflow-node.js-view.and.data.api.git
[submodule "library-dotnet"]
	path = library-dotnet
	url = https://github.com/Developer-Autodesk/library-dotnet-view.and.data.api.git
[submodule "library-javascript"]
	path = library-javascript
	url = https://github.com/Developer-Autodesk/library-javascript-view.and.data.api.git
[submodule "integration-sap"]
	path = integration-sap
	url = https://github.com/Developer-Autodesk/integration-sap-view.and.data.api.git
[submodule "workflow-php"]
	path = workflow-php
	url = https://github.com/Developer-Autodesk/workflow-php-view.and.data.api.git
[submodule "workflow-view-save-animate"]
	path = workflow-view-save-animate
	url = https://github.com/Developer-Autodesk/workflow-view-save-animate-view.and.data.api.git
[submodule "client-fullstack"]
	path = client-fullstack
	url = https://github.com/Developer-Autodesk/client-fullstack-view.and.data.api.git
[submodule "integration-sharepoint"]
	path = integration-sharepoint
	url = https://github.com/Developer-Autodesk/integration-sharepoint-view.and.data.api.git
